@import url('https://fonts.googleapis.com/css?family=Montserrat');

$font-montserrat: 'Montserrat',
sans-serif;

body {
	background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
	padding: 0;
	margin: 0;
	height: 100vh;
	font-family: $font-montserrat;
}

h1 {
  margin: 0;
}

.location {
	position: absolute;
	top: 20px;
	left: 20px;

	.city {
		font-size: 24px;
		margin: 0;
		color: white;
	}

	.date {
		font-size: 14px;
		margin-top: 5px;
		color: white;
	}

	.error {
		color: rgb(221, 139, 139);
	}
}

.icon {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);

	i {
		width: 100%;
		text-align: center;
		font-size: 100px;
	}

	h1 {
		font-size: 20px;
		text-align: center;
	}

	.temperature {
		margin-top: 20px;

		h1 {
			margin: 0;
			font-size: 50px;
		}

		.unit {
			text-align: center;
		}

		.unit p {
			display: inline;
			font: 12px;
			color: rgb(151, 151, 151);
			cursor: pointer;
		}

		.unit .active {
			color: black;
		}

	}

	.weather-detail {
		display: grid;
		grid-template-columns: 120px 120px;
		grid-template-rows: 100px 100px;
		position: absolute;
		left: 50%;
		transform: translate(-50%);

		.box {
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			padding: 5px;
			font-size: 20px;
		}

		.box p {
			margin: 10px;
			font-size: 14px;
			font-family: $font-montserrat;
		}
	}
}

@media screen and (min-width: 768px) {
	.location {
		top: 5%;
		left: 50%;
		transform: translate(-50%);
		width: 70%;

		.city {
			font-size: 35px;
			text-align: center;
		}

		.date {
			font-size: 20px;
			text-align: center;
		}
	}

	.icon {
		i {
			font-size: 100px;
		}

		.weather-detail {
			grid-template-columns: repeat(4, 130px);
			margin-top: 30px;

			.box {
				font-size: 30px;
			}

			.box p {
				font-size: 18px;
			}
		}
	}
}
